/*CORPO*/

.corpo {
    background-color: rgb(41, 41, 41);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

/*CABEÇALHO*/

.cabecalho {
    height: 200px;
    width: 100%; 
}

.cabecalho__img {
    width: 200px;
    float: left;
}

.cabecalho__link {
    text-decoration: none;
    float: left;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 40px;
    border: solid;
    border-radius: 2px;
    border-color: black;
    color: #ff5800; 
}

.cabecalho__redesSociais {
    float: right;
    margin-right: 30px;
}

.cabecalho__redesSociais__img {
    width: 40px;
    right: 40px;
    margin-left: 5px;
    margin-top: 60px;
}

/*CONTEÚDO PRINCIPAL*/

.principal {
    width: 100%;
    height: 600px;
}

.chamadaPrincipal {
    float: left;
    text-align: justify;
    width: calc(100% - 480px);
    height: inherit;
    padding: 20px;
    background-image: url("./img/fundo2.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
	background-position: center center;
}

.chamadaPrincipal__titulo {
    color: #ff5800;
} 

.cadastro {
    float: right;
    background-color: #ff5800;
    width: 400px;
    height: inherit;
    text-align: justify;
    padding: 20px;
}

.cadastro__titulo {
    font-family: cursive;
}

.formulario__itens .formulario__label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF7F5;
    margin: 5px;
}

.formulario__radios .formulario__label, .formulario__checkbox .formulario__label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF7F5
}

.formulario__input {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 98%;
    height: 20px;
    margin: 5px;
    padding: 1px;
    border-width: 1px ;
    outline: none;
}

.formulario__button {
    margin: 5px;
    padding: 1px;  
}

.formulario__button button {
    width: 100px;
    height: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #00206B;
    border: 1px;
    cursor: pointer;
}

.formulario__button button:hover {
    color: chocolate;
}

/*CONTEÚDO ADICIONAL*/

.pontosTuristicos {
	width: calc(100% - 60px);
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 30px;
	text-align: center;
}

.pontosTuristicos__article {
	width: 33.33%;
	float: left;
}

.pontosTuristicos__titulo {
    color: #ff5800;
}

.pontosTuristicos__paragrafo {
	width: 90%;
	text-align: justify;
}

.pontosTuristicos__img{
    width: 60px;
    height: 60px;
}

.newsletter{
    width: calc(100% - 60px);
    display: inline-block;
    background-color: #ff5800;
    padding: 30px;
}

/*RODAPÉ*/

.rodape {
    display: inline-block;
	width: calc(100% - 20px);
	border-top: 2px solid #888888;
	margin-top: 30px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.rodape__paragrafo {
    font-family: cursive;
    color: white;
}

@media screen and (max-width: 1024px) {
	.chamadaPrincipal {
		width: 80%;
		float: none;
		display: block;
		margin-top: 0px; 
		margin-bottom: 60px;
		margin-left: auto;
		margin-right: auto;
	}

	.cadastro {
		width: 80%;
		max-width: 400px;
		float: none;
		display: block;
		margin: 0 auto;
	}

	.pontosTuristicos {
		width: 100%;
		float: none;
		display: inline-block;
	}

	.newsletter  {
		width: 80%;
		max-width: 300px;
		float: none;
		display: block;
		margin: 0 auto;
	}
}